body{
    background: url(../img/mozo.jpg) no-repeat center center fixed;
    background-size: cover;


}
*{
margin:0px;
padding:opx; 

}
div#menu{
width:200px;
    margin-top:50px;
           
}
div#menu ul{
list-style:none;
}
div#menu ul li{
margin-top:15px;
    font-family:tahoma;
    font-size:29px;
    background-color:#0081c2;
    width:160px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 0px 20px 20px 0px;
    padding-left:20px;
    box-shadow:5px 0px 10px #0081c2;
    -webkit-transition:padding-left 0.8;
    color: white;
}
div#menu ul li:hover{
padding-left: 50px;


}

